<div class="container mt-5">
<table id="example" class="display table table-striped " style="width:100%;background-color:">
        <thead class="text-danger">
            <tr>
                <th>OrderId</th>
                <th>Date</th>
                <th>Status</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011-04-25</td>
                <td>$320,800</td>
            </tr>
            
        </tbody>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </tfoot>
    </table>
    </div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
    let table = new DataTable('#example');
});
</script>